* {
  margin: 0;
}
.styles_LogoImg__2wRK6 {
  height: 60px !important;
}
@media only screen and (max-width: 500px) {
  .MobileNav_MoNavLogo__C8_0h img {
    height: 40px !important;
  }
  .MobileNav_mobileNav__1-78d {
    align-items: center;
  }
}